sphn<0.2
--no-deps moshi==0.2.7
transformers
librosa
accelerate
torch-audiomentations
silero-vad
aiortc
websockets
aiohttp
aiofiles
soundfile
webrtcvad
pyaudio
uvloop
inflection
unidecode
pypinyin
g2p-en
nltk
